.error {
	color: #a94442;
}
.form-group .btn-group {
    display: block;
}
.form-group .btn-group .multiselect {
	width: 100%;
}
.multiselect-container {
    top: 34px;
    width: 100%;
}

.project, .workshop {
	position: relative;
}
.deleteFromProfile, .deleteSc, .deleteYt, .deleteVm {
    position: absolute;
    right: -11px;
    top: -13px;
    z-index: 1;
}
.legendWithBtn {
	padding-bottom: 10px;
}
.profilesubmit {
    margin-left: 5px;
    float: right;
}
.ui-datepicker-year, .ui-datepicker-month {
    color: #666;
}
.alert ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
#productions ~ .glyphicon-remove {
    display: none;
}
.agencyrow {
    display: none;
}
.modal-dialog {
    z-index: 9999;
}




/* Effect 10: Corner indicator */
.la-anim-10 {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 300px;
    background: #f6bf27;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translateX(100%) translateY(-100%) rotate(45deg);
    transform: translateX(100%) translateY(-100%) rotate(45deg);
    pointer-events: none;
    z-index: 9999;
    box-shadow: 0 0 1px #28323c;
}

.la-anim-10.la-animate {
    -webkit-transform: translateX(50%) translateY(-50%) rotate(45deg);
    transform: translateX(50%) translateY(-50%) rotate(45deg);
}

/* Loading circle idea from http://codepen.io/Metty/details/lgJck */
.la-anim-10::before,
.la-anim-10::after,
.lunar .video::before,
.lunar .video::after,
.ambasadorVideo .video::before,
.ambasadorVideo .video::after {
    position: absolute;
    bottom: 30px;
    left: 50%;
    display: block;
    border: 5px solid #fff;
    border-radius: 50%;
    content: '';
}

.la-anim-10::before, .lunar .video::before, .ambasadorVideo .video::before {
    margin-left: -40px;
    width: 80px;
    height: 80px;
    border-right-color: #28323c;
    border-left-color: #28323c;
    -webkit-animation: rotation 3s linear infinite;
    animation: rotation 3s linear infinite;
}

.la-anim-10::after, .lunar .video::after, .ambasadorVideo .video::after {
    bottom: 50px;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    border-top-color: #28323c;
    border-bottom-color: #28323c;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
}


@-webkit-keyframes rotation {
    0%      { -webkit-transform: rotate(0deg); }
    50%     { -webkit-transform: rotate(180deg); }
    100%    { -webkit-transform: rotate(360deg); }
}

@keyframes rotation {
    0%      { transform: rotate(0deg); }
    50%     { transform: rotate(180deg); }
    100%    { transform: rotate(360deg); }
}
.lunar .video::before {
    width: 120px;
    height: 120px;
    bottom: 104px;
    left: 46.3%;
}
.lunar .video::after {
    width: 60px;
    height: 60px;
    bottom: 133px;
    left: 48%;
}
.video iframe {
    position: relative;
    z-index: 9999999;
}
.ambasadorVideo .video::before {
    bottom: 90px;
}
.ambasadorVideo .video::after {
    bottom: 110px;
}

.ambasadorVideo .video::before {
    border-right-color: #f6bf27;
    border-left-color: #f6bf27;
}

.ambasadorVideo .video::after {
    border-top-color: #f6bf27;
    border-bottom-color: #f6bf27;
}