@media (max-width: 1365px) {
	#qrt-slideshow .carousel-caption {
		top: 140px;
	}
	#qrt-slideshow .slideBtns {
		top: 400px;
	}
	#qrt-slideshow .carousel-indicators {
		top: 480px;
	}
	#qrt-slideshow #mouse {
		top: 543px;
	}
	#bannerTop img {
		width: 100%;
	}
	#bannerTop h3 {
		font-size: 30px;
		line-height: 33px;
	}
	#bannerTop .bannerDesc {
		top: 100px;
	}
	#bannerTop .secondaryDesc {
		font-size: 20px;
		margin-top: 20px;
	}
}
@media (max-width: 1200px) {
	body {
		font-size: 12.5px;
	}
	#qrt-slideshow h3 {
		font-size: 40px;
		line-height: 40px;
	}
	#qrt-slideshow .secondaryDesc {
		font-size: 22px;
	}
	#qrt-slideshow .slideBtns {
		top: 370px;
	}
	.sitemenu {
		font-size: 15px;
	}
	.loginMenu > li > a, .terms > li > a {
		font-size: 11px;
	}
	.brand img {
		max-width: 240px;
	}
	.btn {
		font-size: 15px;
		line-height: 15px;
		padding: 10px 30px;
	}
	h1 {
		font-size: 28px;
		line-height: 31px;
	}
	h2 {
		font-size: 22px;
	}
	h2 {
		font-size: 22px;
	}
	.homeFunctions > h2 {
		margin-top: -5px;
	}
	.bandaHome h1 {
		font-size: 25px;
	}
	.bandaHome h2 {
		font-size: 20px;
	}
	#bannerTop h3 {
		display: inline-block;
	}
	.titluPeSlider {
		font-size: 38px;
	}
	.specialLayout .circleRow .circle {
		margin: 0 5px;
	}
}
@media (max-width: 1199px) {
	.mobileListing .col-sm-4:nth-child(3n+1) {
		clear: left;
	}
}
@media (max-width: 1000px) {
	#qrt-slideshow h3 {
		font-size: 30px;
		line-height: 34px;
	}
	#qrt-slideshow .carousel-caption {
		top: 120px;
	}
	#qrt-slideshow .secondaryDesc {
		font-size: 20px;
		margin-top: 20px;
	}
	#qrt-slideshow .slideBtns {
		top: 295px;
	}
	#qrt-slideshow .carousel-indicators {
		top: 380px;
	}
	#qrt-slideshow #mouse {
		top: 431px;
	}
	.homeFunctions .how:first-child::after, .homeFunctions .how:nth-child(3)::after, .homeFunctions .how:nth-child(2)::after {
		display: none;
	}
	.actLunaImg {
		-webkit-background-size: 100% auto;
		background-size: 100% auto;
		height: 274px;
		width: 100%;
	}
	.actLunaDesc {
		width: auto;
	}
}
@media (max-width: 991px) {
	.jobdate {
		width: 85%;
	}
}
@media (max-width: 979px) {
	#qrt-slideshow #mouse {
		display: none;
	}
	#bannerTop h3 {
		font-size: 21px;
		line-height: 21px;
	}
	#bannerTop .secondaryDesc {
		font-size: 16px;
		margin-top: 5px;
	}
	#banda div {
		font-size: 15px;
	}
	.ambasador img {
		float: none;
	}
	.ambasador {
		text-align: center;
		border: none;
	}
	.wrapListareAmbasadori h1 {
		padding-left: 0;
	}
	.ambasador img {
		float: none;
		margin: 5px 22px;
	}
	.ambasador .quote {
		clear: both;
		width: 100%;
	}
	.ambasador::before, .ambasador::after {
		display: none;
	}
	.ambasador .btn {
		float: none;
	}
	.ambasador.selected {
		background: none;
	}
	.ambasador.selected .btn, .ambasador.selected .btn:active, .ambasador.selected .btn:focus {
		background: #28323c;
		color: #fff;
	}
	.ambasador.selected:hover {
		background: #f6bf27;
		color: #28323c;
	}
	.ambasador .video {
		margin: 0;
	}
	.ambasador.selected .description {
		margin: 8px 5px 0;
	}
	.ambasador {
		padding-right: 0;
	}
}
@media (max-width: 860px) {
	#banda div {
		display: block;
		margin: 0 0 12px;
	}
	.circleRow .circleInner {
		font-size: 15px;
		height: 90px;
		line-height: 15px;
		width: 90px;
	}
	.circleRow .circle {
		margin: 0 6px;
	}
}
@media (max-width: 767px) {
	.mmenuLink {
		display: block;
	}
	#header {
		margin-left: -15px;
		text-align: center;
		width: 100%;
	}
	#qrt-slideshow .carousel-caption {
		top: 87px;
	}
	#qrt-slideshow .slideBtns {
		top: 255px;
	}
	#qrt-slideshow .carousel-indicators {
		top: 330px;
	}
	.comes .img-responsive {
		margin: 0 auto;
	}
	#bannerTop h3 {
		font-size: 18px;
		line-height: 18px;
	}
	#bannerTop .secondaryDesc {
		font-size: 14px;
	}
	#bannerTop .bannerDesc {
		top: 80px;
	}
	.titluPeSlider {
		font-size: 30px;
		margin-top: 0;
	}
	.specialLayout {
		padding: 100px 0 30px;
	}
	.mobileListing .col-sm-4:nth-child(3n+1) {
		clear: none;
	}
	.mobileListing .col-sm-4:nth-child(2n+1) {
		clear: left;
	}
	.btn-profil {
		margin: 0 5px;
	}
	#banda a:first-of-type {
		margin-right: 5px;
	}
	.profilePicAndData {
		text-align: center;
	}
	#userImage {
		margin: 0 auto;
	}
	.generalDetails > div:not(:last-child), .talentDetails > div:not(:last-child) {
		min-height: 0;
	}
	.jobPage {
		text-align: center;
	}
	.dateRow {
		padding: 0 0 15px;
	}
	.contact .contactCol {
		text-align: center;
	}
	.contact .contactCol:first-child {
		margin-bottom: 20px;
	}
	.contact .contactCols {
		left: 0;
	}
	#langSelect {
		left: auto;
		right: 27px;
	}
}
@media (max-width: 600px) {
	#qrt-slideshow .carousel-caption h3 {
		display: none;
	}
	#qrt-slideshow .carousel-caption {
		top: 57px;
	}
	#qrt-slideshow .slideBtns {
		top: 150px;
	}
	#qrt-slideshow .carousel-indicators {
		top: 220px;
	}
	#bannerTop .secondaryDesc {
		display: none;
	}
	.jobdate {
		width: 71%;
	}
}
@media (max-width: 520px) {
	#bannerTop .bannerDesc {
		display: none;
	}
	.actLunaImg {
		height: 200px;
	}
	.mobileListing .col-sm-4 {
		clear: both;
		width: 100%;
	}
}
@media (max-width: 480px) {
	#qrt-slideshow .secondaryDesc {
		margin-top: 0;
	}
	#qrt-slideshow .slideBtns {
		top: 120px;
	}
	#qrt-slideshow .slideBtns .btn {
		font-size: 13px;
		line-height: 13px;
		margin: 0 4px;
		padding: 7px 20px;
	}
	#qrt-slideshow .carousel-indicators {
		top: 160px;
	}
}
@media (max-width: 359px) {
	#qrt-slideshow .carousel-caption {
		display: none;
		top: 57px;
	}
	#qrt-slideshow .slideBtns {
		top: 85px;
	}
	#qrt-slideshow .carousel-indicators {
		top: 138px;
	}
	.actLunaImg {
		background-size: 100% auto;
		height: 190px;
	}
	#loginForm .btn-link {
		display: block;
		margin-top: 7px;
	}
}
