body, html {
	width: 100%;
	overflow-x: hidden;
}
.transition, a {
	-webkit-transition: .15s all ease-in-out;
	-o-transition: .15s all ease-in-out;
	transition: .15s all ease-in-out;
}
@font-face {
	font-family: Oswald;
	src: url("../fonts/Oswald-Regular.eot");
	src: url("../fonts/Oswald-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Oswald-Regular.woff2") format("woff2"), url("../fonts/Oswald-Regular.woff") format("woff"), url("../fonts/Oswald-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: OswaldLight;
	src: url("../fonts/Oswald-Light.eot");
	src: url("../fonts/Oswald-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Oswald-Light.woff2") format("woff2"), url("../fonts/Oswald-Light.woff") format("woff"), url("../fonts/Oswald-Light.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: OswaldDemib;
	src: url("../fonts/Oswald-DemiBold.eot");
	src: url("../fonts/Oswald-DemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Oswald-DemiBold.woff2") format("woff2"), url("../fonts/Oswald-DemiBold.woff") format("woff"), url("../fonts/Oswald-DemiBold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: PTSans;
	src: url("../fonts/PTSans-Regular.eot");
	src: url("../fonts/PTSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans-Regular.woff2") format("woff2"), url("../fonts/PTSans-Regular.woff") format("woff"), url("../fonts/PTSans-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: PTSansBold;
	src: url("../fonts/PTSans-Bold.eot");
	src: url("../fonts/PTSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans-Bold.woff2") format("woff2"), url("../fonts/PTSans-Bold.woff") format("woff"), url("../fonts/PTSans-Bold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Gotham;
	src: url("../fonts/Gotham-Medium.eot");
	src: url("../fonts/Gotham-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Medium.woff2") format("woff2"), url("../fonts/Gotham-Medium.woff") format("woff"), url("../fonts/Gotham-Medium.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
body {
	color: #28323c;
	font: 14px "PTSans", Arial, Helvetica, sans-serif;
}
b, strong {
	font-family: "PTSansBold", Arial, Helvetica, sans-serif;
	font-weight: normal;
}
hr {
	border-color: rgba(40, 50, 60, 0.3);
}
h1 {
	color: #28323c;
	font: 36px "Oswald", Arial, Helvetica, sans-serif;
}
h2 {
	color: rgba(40, 50, 60, 0.5);
	font: 28px "OswaldLight", Arial, Helvetica, sans-serif;
}
h3 {
	font: 22px "OswaldLight", Arial, Helvetica, sans-serif;
}
.btn {
	background: #f6bf27;
	border-radius: 0;
	border: none;
	color: #28323c;
	font: 18px/18px "OswaldLight", Arial, Helvetica, sans-serif;
	padding: 12px 50px;
	text-transform: uppercase;
}
.btn:hover, .btn:active, .btn:focus {
	background: #28323c;
	color: #fff;
}
.btn-white {
	background: #fff;
}
.btn-blue {
	background: #28323c;
	color: #fff;
}
.btn-blue:hover, .btn-blue:active, .btn-blue:focus {
	background: #f6bf27;
	color: #28323c;
}
.btn-profil {
	color: #28323c;
	font: 24px "Oswald", Arial, Helvetica, sans-serif;
	margin: 0 40px;
}
.btn-profil:hover, .btn-profil:active, .btn-profil:focus{
	background: none !important;
	color: #28323c;
	text-decoration: none;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.btn-link {
	background: none;
	font: 12px "PTSans", Arial, Helvetica, sans-serif;
	padding: 0;
	text-transform: none;
}
.form-control {
	border: 1px solid #444545;
	border-radius: 0;
	color: #444545;
}
label {
	font-weight: normal;
}
.alert, .form-group {
	text-align: left;
}
.topnavbar {
	background: none;
	border: none;
	margin-top: 40px;
	position: absolute;
	width: 100%;
	z-index: 1;
}
.brand {
	display: inline-block;
	margin-top: 40px;
}
#header {
	position: absolute;
	z-index: 1;
}
.sitemenu {
	float: right;
	font: 18px "Oswald", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	list-style: none;
	margin: 0;
	padding: 0;
}
.sitemenu li {
	display: inline-block;
}
.sitemenu li a {
	color: #fff;
	margin-left: 25px;
}
.sitemenu li a:hover, .sitemenu li a:focus, .sitemenu li a:active {
	color: #f6bf27;
	text-decoration: none;
}
.loginMenu {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 30px;
	top: -28px;
}
.terms, .terms li {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
.loginMenu > li > a, .terms > li > a {
	color: #fff;
	font-size: 13px;
}
.loginMenu > li:hover > a, .loginMenu > li:focus > a, .loginMenu > li:active > a {
	color: #f6bf27;
	text-decoration: none;
}
.loginMenu li {
	font: 14px "PTSans", Arial, Helvetica, sans-serif;
	display: block;
}
.loginMenu li a, .terms > li a {
	margin-left: 10px;
	padding: 0;
}
.loginMenu > li:not(:last-child):after, .terms > li:not(:last-child):after {
	color: #fff;
	content: "/";
	left: 6px;
	position: relative;
}
.loginMenu > li {
	display: inline-block;
}
.loginMenu .dropdown-menu {
	left: auto;
	right: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	border-radius: 0;
}
.loginMenu .dropdown-menu a {
	margin: 0;
	padding: 10px;
	height: auto;
}
.loginMenu .dropdown-menu a:hover, .loginMenu .dropdown-menu a:focus, .loginMenu .dropdown-menu a:active {
	background: #f6bf27;
	color: #28323c;
}
.loginMenu .dropdown:hover .dropdown-menu {
	display: block;
}
.mmenuLink {
	background: center center no-repeat url("../images/menu.png");
	width: 23px;
	height: 16px;
	position: absolute;
	top: 16px;
	left: 10px;
	z-index: 1;
	display: none;
}
.mmenuLink::after {
	color: #f6bf27;
	content: "Menu";
	font: 14px "PTSans",Arial,Helvetica,sans-serif;
	left: 28px;
	position: absolute;
	top: -2px;
}
.mm-menu {
	background: #28323c;
	overflow: scroll;
}
.mm-menu .mm-listview > li > a, .mm-menu .mm-listview > li > span, .mm-menu .mm-header > a {
	color: #fff;
	font: 20px "Oswald", Arial, Helvetica, sans-serif;
	text-transform: capitalize;
}
.mm-listview > li > a, .mm-listview > li > span {
	padding: 7px 10px 7px 20px;
}
.mm-menu #menuButtons .btn-blue {
	background: #f6bf27;
	color: #28323c;
}
.mm-menu .mm-listview > li > a:hover, .mm-menu .mm-listview > li > span:hover, .mm-menu .mm-header > a:hover {
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.mm-menu .mm-listview > li > a.mm-prev::before, .mm-menu .mm-listview > li > a.mm-next::after, .mm-menu .mm-header .mm-btn::before, .mm-menu .mm-header .mm-btn::after {
	border-color: rgba(255, 255, 255, 0.9);
}
.mm-menu .termsMenu a {
	color: #fff;
	display: inline-block;
	font: 14px "Gotham", Arial, Helvetica, sans-serif;
	margin-bottom: 5px;
}
.mm-menu .termsMenu a:hover {
	text-decoration: none;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.mm-menu .copyright {
	color: rgba(255, 255, 255, 0.4);
	font-size: 11px;
}
.mm-menu .copyright a {
	color: rgba(255, 255, 255, 0.4);
}
.mm-menu > .mm-panel > .mm-listview.mm-first {
	margin-top: 53px;
}
.mm-menu #menuButtons {
	display: block !important;
	left: 20px;
	position: absolute;
	top: 350px;
}
.mm-menu #menuButtons .menuButton {
	margin-bottom: 15px;
}
.mm-menu #menuButtons a {
	width: 250px;
	max-width: 75%;
}
#menu .brand img {
	max-width: 65%;
}
.mm-menu #menuButtons .socials2 {
	margin: 5px 0 16px -6px;
}
.mm-menu #menuButtons .socials2 a {
	background: url("../images/socials2.png") no-repeat;
	display: inline-block;
	height: 43px;
	width: 45px;
}
.mm-menu #menuButtons .socials2 a:hover {
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.mm-menu #menuButtons .socials2 a:nth-child(2) {
	background-position: -44px 0;
}
.mm-menu #menuButtons .socials2 a:nth-child(3) {
	background-position: -89px 0;
}
.mm-menu #menuButtons .socials2 a:nth-child(4) {
	background-position: -134px 0;
}
.mm-menu .brand {
	left: 18px;
	position: absolute;
	top: -17px;
}
.homeFunctions {
	text-align: center;
}
.homeFunctions hr {
	width: 70%;
}
.homeFunctions .how {
	position: relative;
}
.homeFunctions .how:first-child:after, .homeFunctions .how:nth-child(3):after {
	background: url("../images/arrow1.png") no-repeat;
	content: "";
	display: block;
	height: 36px;
	position: absolute;
	right: -80px;
	top: 130px;
	width: 163px;
}
.homeFunctions .how:nth-child(2):after {
	background: url("../images/arrow2.png") no-repeat;
	content: "";
	display: block;
	height: 38px;
	position: absolute;
	right: -85px;
	top: -10px;
	width: 173px;
}
.homeFunctions .how h3 {
	color: #9eb571;
}
.homeFunctions .comes {
	text-align: left;
}
#qrt-slideshow {
	margin: 0 auto;
	border-top: 3px solid #F6BF27;
}
#qrt-slideshow img {
	width: 1920px;
}
#qrt-slideshow h3 {
	font: 54px/54px "Oswald", Arial, Helvetica, sans-serif;
	margin: 0;
}
#qrt-slideshow .secondaryDesc {
	color: #f6bf27;
	font: 28px "OswaldLight", Arial, Helvetica, sans-serif;
	margin-top: 30px;
}
#qrt-slideshow .slideBtns {
	position: absolute;
	top: 510px;
	left: 0;
	right: 0;
	text-align: center;
}
#qrt-slideshow .slideBtns .btn {
	margin: 0 15px;
}
#qrt-slideshow .icon-prev {
	background: url("../images/arrowleft.png") no-repeat;
	height: 33px;
	width: 18px;
}
#qrt-slideshow .icon-prev:before {
	content: "";
}
#qrt-slideshow .icon-next {
	background: url("../images/arrowright.png") no-repeat;
	height: 33px;
	width: 18px;
}
#qrt-slideshow .icon-next:before {
	content: "";
}
#qrt-slideshow .carousel-indicators {
	bottom: auto;
	top: 600px;
}
#qrt-slideshow .carousel-caption {
	bottom: auto;
	top: 240px;
}
#qrt-slideshow #mouse {
	background: url("../images/mouse.png") center top no-repeat;
	height: 42px;
	position: absolute;
	top: 643px;
	width: 100%;
}
#bannerTop img {
	width: 1920px;
	position: relative;
}
#bannerTop h3 {
	font: 54px/54px "Oswald", Arial, Helvetica, sans-serif;
	margin: 0;
}
#bannerTop .secondaryDesc {
	color: #f6bf27;
	font: 28px "OswaldLight", Arial, Helvetica, sans-serif;
	margin-top: 30px;
}
#bannerTop .bannerDesc {
	color: #fff;
	position: absolute;
	text-align: center;
	top: 150px;
	width: 100%;
}
#banda {
	background: #f6bf27;
	color: rgba(0, 0, 0, 0.8);
	font: 18px/18px "OswaldLight", Arial, Helvetica, sans-serif;
	text-align: center;
	padding: 15px 0;
	position: relative;
	z-index: 9;
}
#banda a:first-of-type {
	margin-right: 20px;
}
#banda a:first-of-type:hover {
	background: #fff;
}
#banda div {
	display: inline-block;
	margin-right: 40px;
}
.aboutCastingCall {
	text-align: center;
}
.aboutCastingCall h3 {
	color: #9eb571;
}
.circleRow {
	margin-top: 30px;
}
.circleRow .circle {
	border-radius: 100px;
	border: 10px solid rgba(246, 191, 39, 0.1);
	display: inline-block;

	margin: 0 20px;
}
.circleRow .circleInner {
	background: #28323c;
	border-radius: 100px;
	color: #f6bf27;
	display: table-cell;
	font: 28px/28px "Oswald", Arial, Helvetica, sans-serif;
	height: 130px;
	padding: 0 10px;
	text-align: center;
	vertical-align: middle;
	-webkit-transition: .25s all ease-in-out;
	-moz-transition: .25s all ease-in-out;
	-ms-transition: .25s all ease-in-out;
	-o-transition: .25s all ease-in-out;
	transition: .25s all ease-in-out;
	width: 130px;
}
.circleRow .circle:hover {
	text-decoration: none;
}
.circleRow .circle:hover .circleInner {
	background: #f6bf27;
	color: #28323c;
}
.afterCircles {
	margin-top: 20px;
}
.partnersWrap {
	text-align: center;
}
.partnersWrap h3 {
	color: #9eb571;
	font-size: 20px;
}
.partnersWrap .partners {
	margin: 40px auto;
	max-width: 860px;
}
.partnersWrap a {
	color: inherit;
}
.contact {
	margin: 0 auto;
	max-width: 750px;
	text-align: center;
}
.contact h3 {
	color: #9eb571;
}
.contact .contactCol {
	text-align: left;
}
.contact .contactCols {
	left: 30px;
	margin: 0 auto;
	max-width: 620px;
	position: relative;
}
.contact a {
	color: inherit;
}
.contact .email {
	background: url("../images/email.png") no-repeat left center;
	display: inline-block;
	margin-top: 5px;
	padding: 3px 30px;
}
.contact .phone {
	background: url("../images/phone.png") no-repeat left center;
	display: inline-block;
	margin-top: 5px;
	padding: 3px 30px;
}
.contact .smallHr {
	max-width: 470px;
}
.contact textarea {
	margin-top: 15px;
}
.contact .g-recaptcha div {
	display: inline-block;
}
.error {
	display: block;
}
.contact .glyphicon-remove {
	position: absolute;
	top: 0;
}
.contact .contactCaptcha {
	margin-top: 15px;
	text-align: center;
}
.contact .contactInfo {
	margin: 10px 0 40px;
}
.contact .btn {
	margin: 20px 0;
}
.contact .alert-success {
	display: none;
}
footer {
	background: #28323c;
	border-top: 22px solid #d5d6d8;
	color: #fff;
	padding: 20px 0;
	margin-top: 30px;
	position: relative;
	text-align: center;
}
footer .socials {
	margin: 5px 0 16px;
	text-align: center;
}
footer .socials a {
	background: url("../images/socials.png") no-repeat;
	display: inline-block;
	width: 40px;
	height: 40px;
}
footer .socials a:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
}
footer .socials a:nth-child(2) {
	background-position: -44px 0;
}
footer .socials a:nth-child(3) {
	background-position: -89px 0;
}
footer .socials a:nth-child(4) {
	background-position: -134px 0;
}
footer .terms {
	margin: 10px 0;
	text-align: center;
	font: 14px "Gotham", Arial, Helvetica, sans-serif;
}
footer .terms a {
	color: #fff;
}
footer .terms a:hover {
	text-decoration: none;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
footer .terms span {
	display: inline-block;
	margin: 0 10px;
}
footer .copyright {
	color: rgba(255, 255, 255, 0.5);
	font: 10px "PTSans", Arial, Helvetica, sans-serif;
}
footer .copyright a {
	color: rgba(255, 255, 255, 0.5);
}
footer #toTop {
	background: url("../images/toTop.png") no-repeat;
	height: 16px;
	display: inline-block;
	position: absolute;
	right: 13px;
	top: 13px;
	width: 32px;
}
.profile .name, .jobPage .name {
	font: 24px "OswaldDemib", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}
.profile .ceare, .jobPage .ceare {
	font: 20px "Oswald", Arial, Helvetica, sans-serif;
}
.profile .proTitle, .jobPage .proTitle {
	background: #28323c;
	color: #f6bf27;
	font: 24px "Oswald", Arial, Helvetica, sans-serif;
	padding: 10px 25px;
	margin-bottom: 15px;
}
.profile .wrapDescr, .jobPage .wrapDescr {
	margin-left: 25px;
}
.profile .wrapDescr iframe, .jobPage .wrapDescr iframe {
	max-width: 96%;
}
.profile .wrapDescr .scaudio, .jobPage .wrapDescr .scaudio {
	margin-right: 10px;
}
.profile .wrapDescr .strTitle, .jobPage .wrapDescr .strTitle {
	margin: 10px 0;
}
.profile #userImage, .jobPage #userImage {
	margin-bottom: 20px;
}
.profile .title {
	margin-top: 10px;
}
.profile .profileLinks a, .jobPage .profileLinks a {
	color: #444545;
	display: inline-block;
	margin-bottom: 10px;
	padding-left: 30px;
	padding-top: 2px;
}
.profile .download, .jobPage .download {
	background: url(../images/download.png) left center no-repeat;
}
.profile .message, .jobPage .message {
	background: url(../images/message.png) left 2px no-repeat;
	padding-bottom: 5px;
}
.profile .favorite, .jobPage .favorite {
	background: url(../images/favorite.png) left center no-repeat;
}
.profile .smallHr, .jobPage .smallHr {
	max-width: 790px;
}
.profile .wrapDescr > hr:last-child, .jobPage .wrapDescr > hr:last-child {
	display: none;
}
.profile .file-input .btn, .jobPage .file-input .btn {
	padding: 8px;
	text-transform: none;
	font-size: 15px;
}
.profile .file .btn, .jobPage .file .btn {
	padding: 0 10px;
	right: 0;
	top: -10px;
}
.jobsWrap {
	text-align: center;
	margin-bottom: 30px;
}
.messagesWrap {
	text-align: center;
}
.messagesWrap .myMessages {
	background: #28323c;
	color: #f6bf27;
	font: 24px "Oswald", Arial, Helvetica, sans-serif;
	margin-bottom: 8px;
	padding: 5px 10px;
}
.messagesWrap .nav {
	border: none;
}
.messagesWrap li {
	background: #f6bf27;
	color: #28323c;
	font: 24px "Oswald", Arial, Helvetica, sans-serif;
}
.messagesWrap li a {
	border-radius: 0;
	color: #28323c;
	margin-bottom: 10px;
	margin-right: 0;
	padding: 5px 17px;
	text-align: left;
}
.messagesWrap .nav-tabs > li.active > a, .messagesWrap .nav-tabs > li.active > a:hover, .messagesWrap .nav-tabs > li.active > a:focus, .messagesWrap .nav-tabs > li > a:hover, .messagesWrap .nav-tabs > li > a:focus {
	background: #f6bf27;
	color: #28323c;
}
.messagesWrap .nav-tabs > li.active {
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.messagesWrap th {
	border: none;
	border-right: 7px solid #fff;
	background: rgba(40, 50, 60, 0.1);
	font: 14px "PTSansBold", Arial, Helvetica, sans-serif;
}
.messagesWrap td {
	text-align: left;
}
.messagesWrap .tdactions {
	width: 120px;
}
.messagesWrap .actions a {
	display: inline-block;
}
.messagesWrap .actions a:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.messagesWrap .actions .reply {
	background: url("../images/reply.png");
	height: 30px;
	position: relative;
	top: 3px;
	width: 30px;
}
.messagesWrap .actions .forward {
	background: url("../images/forward.png");
	height: 30px;
	position: relative;
	top: 2px;
	width: 31px;
}
.actions .delete {
	background: url("../images/delete.png");
	border: none;
	width: 32px;
	height: 31px;
	margin-top: 3px;
	position: relative;
	top: 5px;
}
.actions .delete:hover, .actions .delete:active, .actions .delete:focus {
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.messagesWrap .actions form {
	display: inline-block;
	position: relative;
	top: -15px;
}
.importantWrap {
	position: relative;
	top: 29px;
}
.actorType {
	text-transform: uppercase;
	margin-top: 10px;
}
.actor {
	position: relative;
	text-align: center;
	border: 1px solid #dcdcdc;
	margin-bottom: 50px;
	border-radius: 0 0 10px 10px;
}
.actor .img-responsive {
	display: inline-block;
}
.actor .userName {
	text-align: center;
	font: 24px "Oswald", Arial, Helvetica, sans-serif;
	margin: 5px 0 10px;
}
.actor .userName *, .actor .userName a {
	color: #f6bf27;
}
.actor .userName a:hover {
	color: #28323c;
	text-decoration: none;
}
.actor .country {
	font: 13px "PTSans", Arial, Helvetica, sans-serif;
	color: #000;
	margin: 5px 0 0;
	height: 36px;
}
.actorDetailsWrap {
	padding: 0 10px;
}
.actor .extraInfo {
	font: 16px "PTSans", Arial, Helvetica, sans-serif;
}
.actor .extraInfo .m-title {
	font: 14px "PTSans", Arial, Helvetica, sans-serif;
	color: #aaa;
	margin-top: 5px;
}
.m-desc {
	margin-top: -2px;
}
.actor .btns a {
	color: #f6bf27;
	font-size: 30px;
	margin: 10px;
	display: inline-block;
}
.topTitle {
	margin-bottom: 50px;
}
/*# sourceMappingURL=style.css.map */

.titluPeSlider {
	text-align: center;
	color: #fff;
	font-size: 54px;
	margin-top: -70px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	display: inline-block;
	padding: 0 50px 17px;
	margin-bottom: 0;
}
.actLunaImg {
	background: url("../images/actorullunii.jpg") no-repeat center;
	width: 561px;
	height: 314px;
	display: block;
	margin: 20px auto;
	border: 20px solid rgba(246, 191, 39, 0.1);
}
.actLunaTitle {
	color: #f6bf27;
	display: inline-block;
	position: relative;
	margin-top: 0;
}
.actLunaTitle::before, .actLunaTitle::after {
	content: '';
	display: block;
	background: #f6bf27;
	position: absolute;
	left: -221px;
	top: 21px;
	height: 2px;
	width: 180px;
}
.actLunaTitle::after {
	left: auto;
	right: -221px;
}
.specialLayout {
	padding: 130px 0 100px;
	background-image: url('../images/slider1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}
.actLunaDesc {
	width: 568px;
	margin: 10px auto 0;
}
.actorImageWrap {
	background: url(../images/user.jpg) no-repeat center -43px;
	height: 207px;
	overflow: hidden;
}
.wrapListareActori {
	max-width: 995px;
	margin: 0 auto;
}
.wrapListareAmbasadori {
	max-width: 779px;
	margin: 0 auto;
}
.wrapListareAmbasadori h1 {
	text-transform: uppercase;
	padding-left: 220px;
	padding-top: 17px;
}
.wrapListareAmbasadori h2 {
	color: #28323c;
}
.ambasador {
	padding-right: 15px;
	margin-bottom: 80px;
	position: relative;
	border-right: 3px solid #f6bf27;
	height: 293px;
	-webkit-transition: .35s all ease-in-out;
	-moz-transition: .35s all ease-in-out;
	-ms-transition: .35s all ease-in-out;
	-o-transition: .35s all ease-in-out;
	transition: .35s all ease-in-out;
}
.ambasador .description {
	display: none;
	margin-left: 80px;
}
.ambasador.selected .description {
	display: block;

}
.ambasador.selected {
	background: url(../images/bg-ambasador.png) no-repeat;
	border-color: transparent;
	height: 745px;
}
.ambasador.selected::after, .ambasador.selected::before {
	background: transparent;
}
.ambasador img {
	max-width: 160px;
	margin-left: 40px;
	float: left;
	margin-right: 22px;
	margin-top: 5px;
}
.ambasador .description {
	max-height: 70px;
	overflow: hidden;
}
.ambasador .quote {
	font: 19px "Oswald", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	width: 535px;
	float: left;
	padding: 10px 0;
	margin: 5px 0;
	text-align: center;
	border-bottom: 1px solid #f6bf27;
}
.ambasador.selected .quote {
	border-top: 1px solid;
	border-bottom: 1px solid;
}
.ambasador .video {
	clear: both;
	background: rgba(246, 191, 39, 0.1);
	max-width: 728px;
	padding: 20px;
	text-align: center;
	margin: 10px 0 0 40px;
	min-height: 210px;
	display: none;
}
.ambasador .description2 {
	max-width: 730px;
	margin-left: 40px;
	padding-bottom: 20px;
	display: none;
	max-height: 76px;
	overflow: hidden;
}
.ambasador .btn {
	background: #f6bf27;
	float: right;
	margin-bottom: 20px;
	margin-right: 4px;
	margin-top: 11px;
	position: relative;
	z-index: 5;
}
.ambasador.selected .btn, .ambasador.selected .btn:active, .ambasador.selected .btn:focus {
	background: #fff;
	color: #28323c;
}
.ambasador .btn:hover, .ambasador.selected .btn:hover {
	color: #fff;
	background: #28323c;
}
.ambasador.selected .video, .ambasador.selected .description2 {
	display: block;
}
.ambasador::before, .ambasador::after {
	background: #f6bf27;
	content: '';
	display: block;
	width: 700px;
	height: 3px;
	position: absolute;
	top: 0;
	right: 0;
}
.ambasador::after {
	top: auto;
	bottom: 0;
	width: 770px;
}
.bgLunar {
	background: rgba(40, 50, 60, 0.1);
}
.lunar h1, .lunar h2 {
	text-align: center;
}
.lunar {
	max-width: 590px;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
	margin-bottom: 30px;
	padding-bottom: 35px;
}
.lunar.nobd {
	border: none;
	padding: 0;
}
.lunar h2 {
	color: #555;
	margin: 5px 0 25px;
}
.bgLunar .lunar {
	border: none;
	padding: 0;
	margin: 0 auto -3px;
}
.lunar h3 {
	color: #f6bf27;
	text-align: center;
	text-transform: uppercase;
	font-family: Oswald, Arial, Helvetica, sans-serif;
	position: relative;
}
.lunar h3 span {
	background: #fff;
	position: relative;
	z-index: 1;
	padding: 0 43px;
}
.lunar h3::before {
	background: #28323c;
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	position: absolute;
	top: 15px;
	left: 0;
}
.stButton .stFb, .stButton .stTwbutton, .stButton .stMainServices {
	height: 27px !important;
}
.stButton .stArrow, .stButton .stButton_gradient {
	height: 22px !important;
}
.st_fblike_large {
	float: right;
}
.sharing {
	height: 29px;
}
.lunar .video {
	position: relative;
	min-height: 300px;
}
.sharing {
	height: 29px;
	margin: 14px 0 -20px;
}
.addJob {
	text-align: center;
	max-width: 700px;
	margin: 0 auto;
}
.addJob h1 {
	border-bottom: 1px solid rgba(40, 50, 60, 0.3);
	margin-bottom: 20px;
	padding-bottom: 20px;
}
#jobTabsControllers {
	border: none;
	margin-bottom: 20px;
}
#jobTabsControllers li {
	margin: 0 20px;
	float: none;
	display: inline-block;
}
#jobTabsControllers li.active a {
	color: #9eb571;
}
#jobTabsControllers a {
	cursor: default;
	border: none;
	color: rgba(158, 181, 113, 0.4);
	font: 22px Oswald, "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0;
}
#jobTabsControllers a:hover, #jobTabsControllers a:focus, #jobTabsControllers a:active {
	background: none;
}
.form-control-simple {
	border: none;
	box-shadow: none;
	border-bottom: 1px solid #979797;
}
.form-group-smaller {
	max-width: 500px;
	margin: 0 auto;
}
label.text-center {
	width: 100%;
}
.form-control:focus {
	border-color: #f6bf27;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(246, 191, 39, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(246, 191, 39, .6);
}
.jobdatelabel {
	width: 45px;
}
.jobdate {
	border: none;
	box-shadow: none;
	border-bottom: 1px solid;
	width: 239px;
	display: inline-block;
	margin-left: 10px;
	padding: 0;
	height: 20px;
	margin-top: 25px;
}
.jobdatefgroup {
	position: relative;
}
.jobdatelabel::after {
	background: url('../images/calendar.png') no-repeat;
	cursor: pointer;
	content: '';
	display: block;
	position: absolute;
	width: 20px;
	height: 19px;
	right: 6px;
	top: 23px;
}
.addJob .form-control {
	border-color: #cacaca;
}
#studentInfo {
	display: none;
}
#loginForm input[type="checkbox"] {
	position: static;
}
#loginForm input[type="checkbox"] + label {
	background: none;
}
input[type="checkbox"], input[type="radio"] {
	position: absolute;
	left: -9999px;
}
input[type="checkbox"] + label {
	background: url(../images/checkbox.png) no-repeat right -2px;
	height: 28px;
	cursor: pointer;
	line-height: 34px;
}
input[type="checkbox"]:checked + label {
	background-position: right -93px;
}
input[type="radio"] + label {
	background: url(../images/radio.png) no-repeat center -8px;
	height: 20px;
	cursor: pointer;
}
input[type="radio"]:checked + label {
	background-position: center -99px;
}
input + label {
	padding-right: 55px;
}
.jobFormTitle {
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	margin: 20px auto;
	display: block;
}
.ttu {
	text-transform: uppercase;
}
#notifying_method {
	border: none;
	box-shadow: none;
	border-bottom: 1px solid #cacaca;
	max-width: 280px;
	margin: 20px auto 0;
}
.form-control-feedback {
	top: 0;
	z-index: 1;
}
label ~ .form-control-feedback {
	top: 23px;
}
select ~ .form-control-feedback {
	right: 5px;
}
.addJob .has-error .form-control {
	box-shadow: inherit;
}
.jobdatelabel ~ .form-control-feedback {
	right: 17px;
	top: 17px;
}
.form-group-radio, .form-group-select-smaller {
	text-align: center;
	display: inline-block;
}
.form-group-select-smaller {
	margin-bottom: 30px;
}
.form-group-radio.has-error .form-control-feedback {
	top: 80px;
	right: -31px;
}
.form-group-select-smaller.has-error .form-control-feedback {
	right: -31px;
	top: 89px;
}
.has-error #short_description ~ .form-control-feedback {
	top: 249px;
}
.has-error #short_description ~ .error {
	text-align: right;
	padding-right: 30px;
}
.jobsList a {
	color: #000;
}
.pagination > li {
	display: inline-block;
}
.pagination > li > a, .pagination > li > span, .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span {
	background: #f6bf27;
	border-radius: 0;
	border: none;
	color: #28323c;
	float: none;
	margin: 0 5px;
	font: 18px "OswaldLight", Arial, Helvetica, sans-serif;
	display: inline-block;
	text-transform: uppercase;
	padding: 10px 50px 8px;
	width: 160px;
}
.pagination > li > a:hover, .pagination > li > a:active, .pagination > li > a:focus {
	background: #28323c;
	color: #fff;
}
.pagination {
	text-align: center;
	display: block;
}
.jobsList table {
	border-spacing: 20px 0;
	border-collapse: separate;
}
.jobsList table tr th {
	padding: 10px;
	text-align: center;
	font-family: PTSansBold;
	border: none;
	background-color: #f5f5f5;
	font-weight: normal;
}
.jobsList table tr td {
	border: none;
	text-align: center;
	padding: 0;
}
.jobsList table tr td:first-child, .jobsList table tr th:first-child {
	text-align: left;
}
.jobsList table tr td a {
	display: block;
	width: 100%;
	height: 100%;
	padding: 10px;
}
.jobsList table tr td a:hover, .jobsList table tr td a:focus, .jobsList table tr td a:active {
	text-decoration: none;
}
.jobPage #jobTabsControllers {
	text-align: center;
}
.jobPage #jobTabsControllers a {
	cursor: pointer;
}
.jobProductions {
	font-family: OswaldLight;
	font-size: 21px;
	margin-bottom: 25px;
}
.jobProductions span {
	color: #f4bd27;
}
.day {
	font-size: 32px;
}
.month, .year {
	font-size: 18px;
	text-transform: uppercase;
}
.dateRow {
	text-align: center;
	padding: 45px 0;
}
.generalDetails .title {
	color: #979797;
}
.jobPage .ceare {
	margin-bottom: 6px;
}
.anotherTitle {
	font: 21px OswaldLight;
	text-align: center;
	margin-bottom: 12px;
}
.generalDetails > div:not(:last-child), .talentDetails > div:not(:last-child) {
	border-right: 1px solid #808080;
	min-height: 200px;
}
.generalDetails > div:not(:last-child) {
	min-height: 100px;
}
.generalDetails .dateRow {
	padding: 10px 0;
}
.generalDetails ~ .anotherTitle {
	margin-top: 20px;
}
.ambasadorVideo {
	height: 250px;
	width: 352px;
	display: inline-block;
	background: #28323c;
	margin: 0 10px;
}
.ambasadorVideo .video {
	position: relative;
}
.bandaHome .carousel-control {
	width: 14px;
	height: 31px;
	top: 50%;
	margin-top: -16px;
}
.bandaHome .carousel-control.left {
	background: url(../images/arrowleft.png) no-repeat;
	left: -40px;
}
.bandaHome .carousel-control.right {
	background: url(../images/arrowright.png) no-repeat;
	right: -40px;
}
.bandaHome .carousel-inner {
	background: rgba(40, 50, 60, 0.4);
}
.bandaHome .carousel-inner > .item {
	padding: 18px 0px 17px;
	min-width: 1140px;
}
.bandaHome {
	background: #f6bf27;
	margin: 30px 0 10px;
	text-align: center;
	padding-bottom: 20px;
}
.bandaHome h2 {
	margin-top: 0;
	margin-bottom: 25px;
	font-size: 24px;
}
.bandaHome h1 {
	margin-bottom: 0;
	line-height: 28px;
	margin-top: 35px;
	font-size: 28px;
}
.wrapBgGrayActori {
	position: relative;
}
.wrapBgGrayActori::before {
	background: rgba(40, 50, 60, 0.1);
	content: '';
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 208px;
	position: absolute;
}
.table-hover > tbody > tr > td {
	-webkit-transition: .15s all ease-in-out;
	-o-transition: .15s all ease-in-out;
	transition: .15s all ease-in-out;
}
.table-hover > tbody > tr:hover > td {
	background-color: #f6bf27;

}
.table-hover > tbody > tr:hover > td a {
	color: #fff;
}
.table-hover > tbody > tr:hover > td.actions {
	background-color: inherit;
}
.table-hover > tbody > tr:hover > td.actions a {
	color: inherit;
}
.register h1 {
	color: #fff;
	text-align: center;
}
#terms {
	position: relative;
	left: 0;
	top: 2px;
}
.wrapAdvancedSearch {
	text-align: center;
	margin: 0 auto 50px;
	max-width: 770px;
}
.searchChecks {
	margin: 10px auto 20px;
}
.searchChecks input + label {
	padding-right: 40px;
	margin-right: 20px;
}
.clickFilter {
	color: #9eb571;
	background: url(../images/arrowfilter.png) no-repeat right 17px;
	padding-right: 22px;
	display: inline-block;
	cursor: pointer;
}
.clickFilter.selected {
	background-position: right -22px;
}
.btn-green {
	background: #9eb571;
	color: #fff;
}
.jobBtn {
	padding: 0;
	text-transform: none;
	font-size: 12px;
	border-radius: 50px;
}
.applyToJob {
	text-align: center;
	margin-top: 30px;
}
.castingsWrap {
	text-align: center;
	margin-bottom: 30px;
}
.btn.multiselect {
	padding: 8px;
}
#bannerTop {
	position: relative;
}
#bannerTop::before {
	background: rgba(255,255,255,0.4);
	position: absolute;
	height: 3px;
	display: block;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}
::selection {
	color: #fff;
	background: #28323C; /* WebKit/Blink Browsers */
}
::-moz-selection {
	color: #fff;
	background: #28323C; /* Gecko Browsers */
}
.ajaxRecipients {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
}
.ajaxRecipients li {
	cursor: pointer;
	color: #28323c;
	background: #f6bf27;
	padding: 5px 10px;
	width: 100%;
}
.ajaxRecipients li:hover {
	color: #fff;
	background: #28323c;
}
.actions .delete i {
	color: #fff;
}
.messageLink {
	color: #fff;
	background: #28323c;
	display: inline-block;
	padding: 1px 5px 3px;
	width: 100%;
}
.readMessage {
	color: #28323c;
}
.readMessage:hover, .readMessage:focus, .readMessage:active {
	color: #f6bf27;
	text-decoration: none;
}
.messageLink:hover, .messageLink:focus, .messageLink:active {
	text-decoration: none;
	color: #f6bf27;
}
.unread {
	font: bold 17px/20px Arial;
	border-radius: 50px;
	border: 2px solid #28323c;
	width: 23px;
	display: inline-block;
	text-align: center;
	height: 23px;
	padding-left: 1px;
	position: relative;
	top: 6px;
	float: right;
}
.circles {
	margin: 0 auto;
	max-width: 780px;
}
.video iframe {
	max-width: 100%;
}
#loginForm .btn-link {
	color: #fff;
}
.form-horizontal .control-label {
	text-align: right;
}
.g-recaptcha > div > div, .g-recaptcha iframe {
	max-width: 100%;
}
.form-group .profilesubmit {
	margin-top: 20px;
}
.actions .btn {
	background: none;
	padding: 0;
}
.jobBtn input {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	padding: 10px;
}
.applicantsBtn {
	text-transform: none;
	font: 14px "PTSans", Arial, Helvetica, sans-serif;
	color: #28323c;
	border-bottom: 1px solid #28323c;
	margin-right: 6px;
}
.applicantsBtn:hover, .applicantsBtn:focus, .applicantsBtn:active {
	color: #f6bf27 !important;
	border-color: #f6bf27;
}
.wrapRanges {
	height: 40px;
	line-height: 15px;
}
#jobtalentform h2 {
	margin: 0 0 20px;
}
.character {
	position: relative;
}
.character .deleteFromProfile {
	padding: 2px 9px;
}
.character .deleteFromProfile {
	padding: 2px 9px;
}
.usernameChangesNotification {
	background: #eee;
	padding: 5px 12px;
}
#langSelect {
	float: left;
	list-style: none;
	padding: 0;
	position: absolute;
	top: 13px;
	left: 17px;
}
#langSelect li {
	display: inline-block;
}
#langSelect a {
	color: #fff;
	text-transform: capitalize;
}
#langSelect a.active, #langSelect a:hover, #langSelect a:focus, #langSelect a:active {
	color: #f6bf27;
	text-decoration: none;
}