// Constants
$fonts : '../fonts/';
$img : '../images/';

// Mixins
@mixin fontface( $name, $file ) {
	@font-face {
	    font-family: $name;
	    src: url( $fonts + $file + '.eot');
	    src: url( $fonts + $file + '.eot?#iefix') format('embedded-opentype'),
	         url( $fonts + $file + '.woff2') format('woff2'),
	         url( $fonts + $file + '.woff') format('woff'),
	         url( $fonts + $file + '.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal; 
	}
}
@mixin opacity( $nr ) {
	opacity: $nr;
	$opacity-ie: $nr * 100;
	filter: alpha(opacity=$opacity-ie); //IE8
}
@mixin hovers($property, $value) {
    &:hover, &:active, &:focus {
		@for $i from 1 through length($property) {
        	#{nth($property,$i )}: #{nth($value,$i)};
		}
    }
}

// Variables
$ffo 	: "Oswald", Arial, Helvetica, sans-serif;
$ffol 	: "OswaldLight", Arial, Helvetica, sans-serif;
$ffodb 	: "OswaldDemib", Arial, Helvetica, sans-serif;
$ffpts 	: "PTSans", Arial, Helvetica, sans-serif;
$ffptsb : "PTSansBold", Arial, Helvetica, sans-serif;
$ffgm 	: "Gotham", Arial, Helvetica, sans-serif;

$yel : #f6bf27;
$blue : #28323c;
$dark: #444545;
$green : #9eb571;

// Extends
.transition {
	-webkit-transition: .15s all ease-in-out;
	-o-transition: .15s all ease-in-out;
	transition: .15s all ease-in-out;
}


// Fonts
@include fontface(Oswald, Oswald-Regular);
@include fontface(OswaldLight, Oswald-Light);
@include fontface(OswaldDemib, Oswald-DemiBold);
@include fontface(PTSans, PTSans-Regular);
@include fontface(PTSansBold, PTSans-Bold);
@include fontface(Gotham, Gotham-Medium);
