@import "mixins";

// Generals
a {
	@extend .transition;
}
body {
	font: 14px $ffpts;
}
b, strong {
    font-family: $ffptsb;
    font-weight: normal;
}
hr {
	border-color: transparentize($blue, 0.7);
}
h1 {
	color: $blue;
	font: 36px $ffo;
}
h2 {
	color: transparentize($blue, 0.5);
	font: 28px $ffol;
}
h3 {
	font: 22px $ffol;
}
.btn {
	background: $yel;
	border-radius: 0;
    border: none;
    color: $blue;
    font: 18px/18px $ffol;
    padding: 12px 50px;
    text-transform: uppercase;
	
	@include hovers(("background", "color"), ($blue, #fff));
}
.btn-white {
	background: #fff;
}
.btn-blue {
	background: $blue;
	color: #fff;

	@include hovers(("background", "color"), ($yel, $blue));
}
.btn-profil {
    color: $blue;
    font: 24px $ffo;
    margin: 0 40px;

    &:hover {
        background: none !important;
        color: $blue;
        text-decoration: none;
        @include opacity(0.7);
    }
}
.btn-link {
    background: none;
    font: 12px $ffpts;
    padding: 0;
    text-transform: none;
}
.form-control {
    border: 1px solid $dark;
    border-radius: 0;
    color: $dark;
}
label {
    font-weight: normal;
}
.alert, .form-group {
    text-align: left;
}  

// Header
.topnavbar {
    background: none;
    border: none;
    margin-top: 40px;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.brand {
    display: inline-block;
    margin-top: 40px;
}

#header {
    position: absolute;
    z-index: 1;
}
.sitemenu {
	float: right;
	font: 18px $ffo;
	text-transform: uppercase;
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		display: inline-block;
		a {
			color: #fff;
			margin-left: 25px;
			&:hover {
				color: $yel;
				text-decoration: none;
			}
		}
	}
}
.loginMenu {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 30px;
    top: -28px;

    li {
        font: 14px $ffpts;
        display: block;

        a {
            margin-left: 10px;
            padding: 0;
        }

        &:not(:last-child):after {
            color: #fff;
            content: "|";
            left: 6px;
            position: relative;
        }
    }
}

.mmenuLink {
    background: center center no-repeat transparent;

    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 10px;
    z-index: 1;
}
.mm-menu {
    background: $blue;

    .mm-listview > li > a, .mm-listview > li > span, .mm-header > a {
        color: #fff;
        font: 22px $ffo;
        text-transform: capitalize;

        &:hover {
            @include opacity(0.5);
        }
    }
    .mm-listview > li > a.mm-prev::before, .mm-listview > li > a.mm-next::after, .mm-header .mm-btn::before, .mm-header .mm-btn::after {
        border-color: rgba(255, 255, 255, 0.9);
    }

    .termsMenu {
        margin-top: 120px;
        a {
            color: #fff;
            display: inline-block;
            font: 14px $ffgm;
            margin-bottom: 5px;

            &:hover {
                text-decoration: none;
                @include opacity(0.5);
            }
        }
    }

    .copyright {
        color: transparentize(#fff, 0.6);
        font-size: 11px;

        a {
            color: transparentize(#fff, 0.6);
        }
    }

    > .mm-panel > .mm-listview.mm-first {
        margin-top: 53px;
    }

    #menuButtons {
        display: block !important;
        left: 20px;
        position: absolute;
        top: 430px;

        .menuButton {
            margin-bottom: 15px;
        }
        a {
            width: 250px;
        }
        
        .socials2 {
            margin: 5px 0 16px -6px;
            a {
                background: url( $img + 'socials2.png') no-repeat;
                display: inline-block;
                height: 43px;
                width: 45px;

                &:hover {
                    @include opacity(0.5);
                }

                &:nth-child(2) {
                    background-position: -44px 0;
                }

                &:nth-child(3) {
                    background-position: -89px 0;
                }

                &:nth-child(4) {
                    background-position: -134px 0;
                }
            }
        }
    }

    .brand {
        left: 18px;
        position: absolute;
        top: -17px;
    }

}


// Home
.homeFunctions {
	text-align: center;

	hr {
	    width: 70%;
	}

	.how {
        position: relative;

        &:first-child:after, &:nth-child(3):after {
            background: url($img + 'arrow1.png') no-repeat;
            content: "";
            display: block;
            height: 36px;
            position: absolute;
            right: -80px;
            top: 130px;
            width: 163px;
        }
        &:nth-child(2):after {
            background: url($img + 'arrow2.png') no-repeat;
            content: "";
            display: block;
            height: 38px;
            position: absolute;
            right: -85px;
            top: -10px;
            width: 173px;
        }

        h3 {
    		color: $green;
    	}
    }
	.comes {
		text-align: left;
	}
}
#qrt-slideshow {
    margin: 0 auto;

    img {
        width: 1920px;
    }

    h3 {
        font: 54px/54px $ffo;
        margin: 0;
    }
    .secondaryDesc {
        color: $yel;
        font: 28px $ffol;
        margin-top: 30px;
    }
    .slideBtns {
        position: absolute;
        top: 600px;
        left: 0;
        right: 0;
        text-align: center;

        .btn {
            margin: 0 15px;
        }
    }
    .icon-prev {
        background: url($img + 'arrowleft.png') no-repeat;
        height: 33px;
        width: 18px;

        &:before {
            content: "";
        }
    }
    .icon-next {
        background: url($img + 'arrowright.png') no-repeat;
        height: 33px;
        width: 18px;
        &:before {
            content: "";
        }
    }
    .carousel-indicators {
        bottom: auto;
        top: 710px;
    }

    .carousel-caption {
        bottom: auto;
        top: 340px;
    }

    #mouse {
        background: url($img + 'mouse.png') center top no-repeat;
        height: 42px;
        position: absolute;
        top: 783px;
        width: 100%;
    }
}

// Pages
#bannerTop{
    img  {
        width: 1920px;
        position: relative;
    }

    h3 {
        font: 54px/54px $ffo;
        margin: 0;
    }
    .secondaryDesc {
        color: $yel;
        font: 28px $ffol;
        margin-top: 30px;
    }
    .bannerDesc {
        color: #fff;
        position: absolute;
        text-align: center;
        top: 150px;
        width: 100%;
    }
}
#banda {
    background: $yel;
    color: transparentize(#000, 0.5);
    font: 18px/18px $ffol;
    text-align: center;
    padding: 15px 0;

    a:first-of-type {
        margin-right: 20px;

        &:hover {
            background: #fff;
        }
    }

    div {
        display: inline-block;
        margin-right: 40px;
    }
}
.aboutCastingCall {
    text-align: center;
    h3 {
        color: $green;
    }
}
.circleRow {
    margin-top: 30px;

    .circle {
        display: inline-block;
        margin: 0 20px;
    }
    .circleInner {
        background: $blue;
        border-radius: 100px;
        color: $yel;
        display: table-cell;
        font: 28px/28px $ffo;
        height: 130px;
        padding: 0 10px;
        text-align: center;
        vertical-align: middle;
        width: 130px;
    }
}
.afterCircles {
    margin-top: 20px;
}
.partnersWrap {
    text-align: center;
    h3 {
        color: $green;
        font-size: 20px;
    }
    .partners {
        margin: 40px auto;
        max-width: 860px;
    }
    a {
        color: inherit;
    }
}
.contact {
    margin: 0 auto;
    max-width: 750px;
    text-align: center;

    h3 {
        color: $green;
    }
    .contactCol {
        text-align: left;
    }
    .contactCols {
        left: 30px;
        margin: 0 auto;
        max-width: 620px;
        position: relative;
    }
    a {
        color: inherit;
    }
    .email {
        background: url( $img + 'email.png') no-repeat left center;
        display: inline-block;
        margin-top: 5px;
        padding: 3px 30px;
    }
    .phone {
        background: url( $img + 'phone.png') no-repeat left center;
        display: inline-block;
        margin-top: 5px;
        padding: 3px 30px;
    }
    .smallHr {
        max-width: 470px;
    }
    textarea {
        margin-top: 15px;
    }
    .g-recaptcha div {
        display: inline-block;
    }
    .g-recaptcha .error {
        display: block;
    }
    .glyphicon-remove {
        position: absolute;
        top: 0;
    }
    .contactCaptcha {
        margin-top: 15px;
        text-align: center;
    }
    .contactInfo {
        margin: 10px 0 40px;
    }
    .btn {
        margin: 20px 0;
    }
    .alert-success {
        display: none;
    }
}

// Footer
footer {
    background: $blue;
    border-top: 22px solid #d5d6d8;
    color: #fff;
    padding: 20px 0;
    margin-top: 30px;
    position: relative;
    
    .socials {
        margin: 5px 0 16px;
        text-align: center;
        a {
            background: url( $img + 'socials.png') no-repeat;
            display: inline-block;
            width: 40px;
            height: 40px;

            &:hover {
                @include opacity(0.7);
            }

            &:nth-child(2) {
                background-position: -44px 0;
            }

            &:nth-child(3) {
                background-position: -89px 0;
            }

            &:nth-child(4) {
                background-position: -134px 0;
            }
        }
    }
    .terms {
        margin: 10px 0;
        text-align: center;
        font: 14px $ffgm;

        a {
            color: #fff;

            &:hover {
                text-decoration: none;
                @include opacity(0.7);
            }
        }

        span {
            display: inline-block;
            margin: 0 10px;
        }
    }
    .copyright {
        color: transparentize(#fff, 0.5);
        font: 10px $ffpts;

        a {
            color: transparentize(#fff, 0.5);
        }
    }
    #toTop {
        background: url( $img + 'toTop.png' ) no-repeat;
        height: 16px;
        display: inline-block;
        position: absolute;
        right: 13px;
        top: 13px;
        width: 32px;
    }
}

// Profile
.profile, .jobPage {
    .name {
        font: 24px $ffodb;
        text-transform: uppercase;
    }
    .ceare {
        font: 20px $ffo;
    }
    .proTitle {
        background: $blue;
        color: $yel;
        font: 24px $ffo;
        padding: 10px 25px;
        margin-bottom: 15px;
    }
    .wrapDescr {
        margin-left: 25px;

        iframe {
            max-width: 96%;
        }
        .scaudio {
            margin-right: 10px;
        }
        .strTitle {
            margin: 10px 0;
        }
    }
    #userImage {
        margin-bottom: 20px;
    }
    .title {
        margin-top: 10px;
    }
    .profileLinks a {
        color: $dark;
        display: inline-block;
        margin-bottom: 10px;
        padding-left: 30px;
        padding-top: 2px;
    }
    .download {
        background: url(../images/download.png) left center no-repeat;
    }
    .message {
        background: url(../images/message.png) left 2px no-repeat;
        padding-bottom: 5px;
    }
    .favorite {
        background: url(../images/favorite.png) left center no-repeat;
    }
    .smallHr {
        max-width: 790px;
    }
    .wrapDescr > hr:last-child {
        display: none;
    }
    .file-input .btn {
        padding: 8px;
        text-transform: none;
        font-size: 15px;
    }
    .file .btn {
        padding: 0 10px;
        right: 0;
        top: -10px;
    }
}

// Jobs
.jobsWrap {
    text-align: center;
}

// 
.messagesWrap {
    text-align: center;
    .myMessages {
        background: $blue;
        color: $yel;
        font: 24px $ffo;
        margin-bottom: 8px;
        padding: 5px 10px;
    }
    .nav {
        border: none;
    }
    li {
        background: $yel;
        color: $blue;
        font: 24px $ffo;

        a {
            border-radius: 0;
            color: $blue;
            margin-bottom: 10px;
            margin-right: 0;
            padding: 5px 17px;
            text-align: left;
        }
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
        background: $yel;
        color: $blue;
    }
    .nav-tabs > li.active  {
        @include opacity(0.7);
    }

    th {
        border: none;
        border-right: 7px solid #fff;
        background: transparentize($blue, 0.9);
        font: 14px $ffptsb;
    }
    td {
        text-align: left;
    }
    .tdactions {
        width: 120px;
    }
    .actions {
        a {
            display: inline-block;
        }
        a:hover {
            @include opacity(0.7);
        }
        .reply {
            background: url($img + 'reply.png');
            height: 30px;
            position: relative;
            top: 3px;
            width: 30px;
        }
        .forward {
            background: url($img + 'forward.png');
            height: 30px;
            position: relative;
            top: 2px;
            width: 31px;
        }
        .delete {
            background: url($img + 'delete.png');
            border: none;
            width: 32px;
            height: 31px;
        }

        form {
            display: inline-block;
            position: relative;
            top: -15px;
        }
    }

}
.importantWrap {
    position: relative;
    top: 29px;
}

.actorType
{
    width:100%;
    padding:5px 0;
    background-color: $yel;
    text-align: center;
}

.actor
{
    position: relative;
    text-align: center;
    border: 1px solid #dcdcdc;
    border-radius: 0 0 10px 10px;

    .img-responsive
    {
        display: inline-block;
    }

    .userName
    {
        text-align: center;
        font: 24px $ffol;
        margin: 15px 0;

        *, a
        {
            color: $yel;
        }
    }

    .country
    {
        font: 14px $ffpts;
        color: #000;
        margin: 5px 0;
    }

    .extraInfo
    {
        font: 16px $ffpts;

        .m-title
        {
            font: 14px $ffpts;
            color: #aaa;
            margin:5px 0;
        }
    }

    .btns a
    {
        color: $yel;
        font-size: 30px;
        margin: 10px;
        display: inline-block;
    }
}

.topTitle
{
    margin-bottom: 50px;
}