@font-face {
    font-family: 'Glyphicons Halflings';
    src: url("../../fonts/glyphicons-halflings-regular.eot");
    src: url("../../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../../fonts/glyphicons-halflings-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
#langSelect {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    height: 50px;
}
#langSelect li {
    display: inline-block;
    text-transform: uppercase;
}

.topbarLink, #langSelect a {
    color: #fff;
    padding: 15px;
    display: inline-block;
    float: left;
}
.topbarLink:hover, .topbarLink:active, .topbarLink:focus, #langSelect a:hover, #langSelect a:focus, #langSelect a:active {
    background: rgba(0,0,0,0.1);
    color: #fff;
    text-decoration: none;
}
.crud {
    min-width: 100px;
}
.crud form {
    display: inline-block;
}
.crud .btn {
    height: 19px;
    line-height: 7px;
    position: relative;
    top: -1px;
}
.crud a {
    font-size: 12px;
    background: #dd4b39;
    color: #fff;
    border: 1px solid #dd4b39;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    padding: 0 4px;
    width: 21px;
    opacity: 0.8;
}
.crud .approve {
    background: #5cb85c;
    border-color: #5cb85c;
}
.crud .view {
    background: #5bc0de;
    border-color: #5bc0de;
}
.crud .edit {
    background-color: #ec971f;
    border-color: #ec971f;
}
.crud a:hover {
    border-color: #999;
    opacity: 1;
}
.numeUser {
    margin: 0 0 5px;
    font-size: 16px;
}
.table>thead>tr>th {
    vertical-align: middle;
    padding-right: 13px;
}
.ui-datepicker select {
    color: #333;
}
.wrapper {
    overflow: visible;
}
.addToProfile {
    z-index: 1;
    position: relative;
}
.deleteFromProfile {
    position: absolute;
    left: 1px;
    top: -10px;
    padding: 2px 9px;
}
.project {
    position: relative;
}
hr {
    border-color: #e3e3e3;
}
.files .profilesubmit {
    display: none;
}
iframe {
    max-width: 100%;
}

.content {
    position: relative;
}
#mediaContent .nav-tabs {
    position: absolute;
    top: 15px;
    left: 609px;
}
#mediaContent .tab-content {
    border-top: 3px solid #dd4b39;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    padding: 9px;
    display: none;
}
.profilesubmit {
    display: none;
}
.alert ~ #mediaContent .nav-tabs {
    top: 87px;
}
#filestab label {
    display: block;
}
.rel {
    position: relative;
}
#mediaContent.employerMedia .nav-tabs {
    left: 230px;
}